@tailwind base;
@tailwind components;
@tailwind utilities;

.myProgress::-webkit-progress-value {
    background: linear-gradient(to right, #1c3b4d, #3480ab);
}

.myProgress::-webkit-progress-bar {
    background-color: gray;
}

.myProgress {
    border: 2px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track{
    background: #0d0e18;
}

body::-webkit-scrollbar-thumb{
    background-color: #919191;
    border-radius: 20px;
}

section::-webkit-scrollbar {
    width: 12px;
}

section::-webkit-scrollbar-track{
    background: #ffffff;
}

section::-webkit-scrollbar-thumb{
    background-color: #42495b;
    border-radius: 20px;
}

.nav-link-active:active {
    background: #000;
  }
  